<!DOCTYPE html>
<html>
  <head>
    <title>change calculator</title>
  </head>

  <body>
  <form action="/result">
    <div class="form-group">
      <label for="number">Please enter a number:</label>
      <input id="number" name="number" class="class-control" type="number">
    </div>
  <button type="submit" class="btn-success">Change please!</button>
  </form>
  </body>
</html>
